{sub_dirs, [
  "apps/resume",
  "rel"
]}.
{deps, [
  {meck, ".*", {git, "https://github.com/eproxus/meck.git", {branch, "master"}}},
  {rfc4627_jsonrpc, ".*", {git, "https://github.com/tonyg/erlang-rfc4627.git", {branch, "master"}}},
  {emongo, ".*", {git, "https://github.com/jdhood1/emongo.git", {branch, "master"}}},
%  {mongodb, ".*", {git, "https://github.com/mongodb/mongodb-erlang.git", {branch, "devbranch"}}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}}
]}.
{erl_opts, [warnings_as_errors, debug_info]}.
{cover_enabled, true}.
